# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebooks
.ipynb_checkpoints/
*-checkpoint.ipynb

# OS Files
.DS_Store
Thumbs.db

# Environments & Secrets
.env
venv/
env/
*.egg-info/
